<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" href="{% static 'Events/images/tittle-img.png' %}" type="image/icon type">
    <link rel="stylesheet" type="text/css" href="{% static 'Events/css/event_page.css' %}">

    <meta charset="UTF-8">
    <title>Coming Soon</title>
</head>
<body class="inner-body" style="letter-spacing: 1px">
<section class="privacy_page">
    <h1 class="content-set-h">What comes Next!</h1>
    <p class="content-set-p">
        Team Arlarse is working on a learning platform where you can learn various courses like Data Science, Frontend
        Web
        Development, Backend Web Development, Python Development, etc.
    </p>
    <p class="content-set-p">
        Everything will be taught in writing along with practical exercises
        where you can learn coding as well as practical projects for good practice.
    <h1 class="content-set-h">Include</h1>
    <p class="content-set-p">
        Inbuilt web browser for web development.<br>
        Python interpreter with Interactive mode as well as script mode with all necessary modules installed.<br>
        Linux Terminal for Some Usage.
    </p>
    <img src="{% static 'Events/images/commin-soon.gif' %}" width="100%">
</section>
<footer class="footer-set">
    <h1 class="content-set-h">Watch Anywhere, Anytime</h1>
    <p class="content-set-p">Contact or Connect with us</p>
    <div class="footer-logo-set">
        {% load static %}
        <a href="https://www.youtube.com/channel/UCY_gp5Api4W_1jBJAb2R0uQ"><img class="social-media-logo-yt"
                                                                                src="{% static 'Events/images/youtube.png' %}"
                                                                                alt="YouTube"></a>
        <a href="#"><img class="social-media-logo-twitch" src="{% static 'Events/images/twitch.png' %}"
                         alt="Twitch"></a>
        <a href="https://discord.gg/z3dvTZNfkf"><img class="social-media-logo-discord"
                                                     src="{% static 'Events/images/discord.png' %}"
                                                     alt="Discord"></a>
    </div>
    <div style="width: 100%;">
        <ul class="about-arlarse">
            <li><a class="about-arlarse-decorate" href="/help">Help</a></li>
            <li><a class="about-arlarse-decorate" href="/help">FAQ</a></li>
            <li><a class="about-arlarse-decorate" href="/privacy">Terms, Conditions, and Privacy Notice</a></li>
            <li><a class="about-arlarse-decorate" href="/help">Feedback</a></li>
            <li><a class="about-arlarse-decorate" href="/coming_soon">Careers</a></li>
        </ul>
    </div>
    <div class="copyright">
        <p>Copyright &copy; 2021, Arlarse All Rights Reserved</p>
    </div>
</footer>
</body>
</html>