<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% block extrahead %}
        <link rel="icon" href="{% static 'Events/images/tittle-img.png' %}" type="image/icon type">
        <link rel="stylesheet" type="text/css" href="{% static 'Events/css/event_page.css' %}">
    {% endblock %}
    <title>Help-Arlarse</title>
</head>
<body class="inner-body">
<nav>
    <div class="nav-content">
        <div class="nav-left-area">
            <label>
                <a href="/"><img src="{% static 'Events/images/Arlarse.png' %}" height="70px"></a>
            </label>
            <a href="/comming_soon" style="text-decoration: none;"><p class="nav-set-p" id="nav-cramming">Cramming</p>
            </a>
        </div>
        <div class="nav-right-area">
            <a href="/events/#ReturnApplyHere" style="text-decoration: none; "><p class="nav-set-p"
                                                                                  id="nav-cramming">Apply</p>
            </a>
        </div>
    </div>
</nav>
<div class="privacy_page">
    <h1 class="content-set-h">What is Events by Arlarse?</h1>
    <p class="content-set-p">Events by Arlarse is an educational organization that encourages and helps students to
        share
        their knowledge with the world.
        Events by Arlarse support all branches, subjects, courses, etc. so that everyone can participate and share their
        knowledge.</p>
    <h1 class="content-set-h">How Events by Arlarse help students?</h1>
    <p class="content-set-p">Through virtual webinars or talk shows or otherwise. Arlarse only conducts events and to
        some
        extent mentors are available for the guidance of the participants. When they join Discord, they will find many
        people like them with whom they can discuss and share their knowledge.</p>
    <br><br>
    <h1 class="content-set-h" style="text-align: center;">Under Construction</h1>
    <img src="{% static 'Events/images/under_development.gif' %}" width="100%">
</div>
<footer class="footer-set">
    <h1 class="content-set-h">Watch Anywhere, Anytime</h1>
    <p class="content-set-p">Contact or Connect with us</p>
    <div class="footer-logo-set">
        {% load static %}
        <a href="https://www.youtube.com/channel/UCY_gp5Api4W_1jBJAb2R0uQ"><img class="social-media-logo-yt"
                                                                                src="{% static 'Events/images/youtube.png' %}"
                                                                                alt="YouTube"></a>
        <a href="#"><img class="social-media-logo-twitch" src="{% static 'Events/images/twitch.png' %}"
                         alt="Twitch"></a>
        <a href="https://discord.gg/z3dvTZNfkf"><img class="social-media-logo-discord"
                                                     src="{% static 'Events/images/discord.png' %}"
                                                     alt="Discord"></a>
    </div>
    <div style="width: 100%;">
        <ul class="about-arlarse">
            <li><a class="about-arlarse-decorate" href="/help">Help</a></li>
            <li><a class="about-arlarse-decorate" href="/help">FAQ</a></li>
            <li><a class="about-arlarse-decorate" href="/privacy">Terms, Conditions, and Privacy Notice</a></li>
            <li><a class="about-arlarse-decorate" href="/help">Feedback</a></li>
            <li><a class="about-arlarse-decorate" href="/coming_soon">Cramming</a></li>
        </ul>
    </div>
    <div class="copyright">
        <p>Copyright &copy; 2021, Arlarse All Rights Reserved</p>
    </div>
</footer>
</body>
</html>