<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="icon" href="{% static 'Events/images/tittle-img.png' %}" type="image/icon type">
    <link rel="stylesheet" type="text/css" href="{% static 'Events/css/event_page.css' %}">
    <title>Privacy Policy</title>
</head>
<body>
<nav>
    <div class="nav-content">
        <div class="nav-left-area">
            <label>
                <a href="/"><img src="{% static 'Events/images/Arlarse.png' %}" height="70px"></a>
            </label>
            <a href="/coming_soon" style="text-decoration: none;"><p class="nav-set-p" id="nav-cramming">Cramming</p>
            </a>
        </div>
        <div class="nav-right-area">
            <a href="/#ReturnApplyHere" style="text-decoration: none; "><p class="nav-set-p">Apply</p>
            </a>
        </div>
    </div>
</nav>
<div class="inner-body" style="letter-spacing: 1px">
    <div class="tnc_banner">Welcome to Arlarse</div>
    <section class="privacy_page">
        <h1 class="content-set-h">Application Terms and Conditions</h1>
        <ul class="content-set-p" id="applicatio-tnc">
            <li>Participants must be an Indian.</li>
            <li>The age of the participants should be more than 16 years and less than 30 years.</li>
            <li>Participants must be enrolled in any educational organization, college, school.</li>
            <li>Participants can speak English or Hindi.</li>
            <li>Fill the form with all the correct details.</li>
            <li>Participants have to provide a link and describe themselves and then explain any topic of their choice.
                The size
                of
                the videos should not exceed 3 minutes and must be public so that we can view them.
            </li>
            <li>We will contact each participant in the event approximately 3 days later via email and via the Arlarse
                Discord
                server. There the participants will be able to tell the topics on which they want to do talk shows,
                virtual
                webinars.
            <li>The participants' webinars or events will be held live on YouTube and Twitch within 7 to 10 days of
                submission of the topic.
            </li>
            <li>To be eligible for the prize, participants must complete certain tasks:
                <ol class="content-set-p" type="1" style="padding-top: 15px;">
                    <li>Certificate of Appreciation will be given to the participant after each event.</li>
                    <li>If a participant's video gets 1000 views then he/she will be entitled to pen stickers etc.</li>
                    <li>If a participant's video is viewed 10000 times then he/she will be entitled to a jacket or
                        hoodie, etc.
                    </li>
                    <li>If a participant's video gets 100000 views then he will be entitled to a special surprise.</li>
                </ol>
            <li>Each person can apply only 3 times a year.</li>
            <li>Each person can participate in only 3 programs or webinars or talk shows etc.</li>
            <li>Entitled to Competitive Prizes When you are eligible, we will receive your address via an email
                form.
            </li>
            <li>We distribute prizes only twice a year, so please be patient, your reward will definitely reach
                you.
            </li>
            <li>Last but not least, the event is always on, so the participant can participate anytime.</li>
        </ul>

        <br>
        <hr style="border-top: 3px solid #F0A500; border-bottom-color: #F0A500">
        <br>

        <h1 class="content-set-h">Terms and Conditions</h1>
        <p class="content-set-p">
            These terms and conditions outline the rules and regulations for the use of Arlarse.me.
        </p>
        <p class="content-set-p">
            By accessing this website we assume you accept these terms and conditions. Do not continue to use Arlarse if
            you
            do
            not agree to take all of the terms and conditions stated on this page.
        </p>
        <p class="content-set-p">
            The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and
            all
            Agreements: “Client”, “You” and “Your” refers to you, the person log on this website and compliant to
            Arlarse
            terms
            and
            conditions. “The Company”, “Ourselves”, “We”, “Our” and “Us”, refers to Arlarse. “Party”, “Parties”, or
            “Us”,
            refers
            to
            both the Client and ourselves. Any use of the above terminology or other words in the singular, plural,
            capitalization
            and/or he/she or they, are taken as interchangeable and therefore as referring to same.
        </p>
        <h1 class="content-set-h">License</h1>
        <p class="content-set-p">
            Unless otherwise stated, Arlarse and its licensors own the intellectual property rights for all material on
            Arlarse.
            All
            intellectual property rights are reserved. You may access this from Arlarse.me for your own personal use
            subjected
            to
            restrictions set in these terms and conditions.
        </p>
        <h2 class="content-set-h">You must not:</h2>
        <ul class="content-set-p" style="padding-top: 10px;">
            <li>Republish material from Arlarse.</li>
            <li>Sell, rent, or sub-license material from Arlarse.</li>
            <li>Reproduce, duplicate or copy material from Arlarse.</li>
            <li>Redistribute content from Arkarse.</li>
            <li>This Agreement shall begin on the date Nov 5, 2021.</li>
        </ul>
        <h1 class="content-set-h">iFrames</h1>
        <p class="content-set-p">Without prior approval and written permission, you may not create frames around our
            Webpages that alter in any way
            the visual presentation or appearance of our Website.</p>

        <h1 class="content-set-h">Content Liability</h1>
        <p class="content-set-p">
            We shall not be held responsible for any content that appears on your Website. You agree to protect and
            defend
            us
            against all claims that are rising on your Website. No link(s) should appear on any Website that may be
            interpreted
            as
            libelous, obscene, or criminal, or which infringes, otherwise violates, or advocates the infringement or
            other
            violation
            of, any third party rights.
        </p>

        <h1 class="content-set-h">Reservation of Rights</h1>
        <p class="content-set-p">
            We reserve the right to request that you remove all links or any particular link to our Website. You approve
            to
            immediately remove all links to our Website upon request. We also reserve the right to amend these terms and
            conditions
            and its linking policy at any time. By continuously linking to our Website, you agree to be bound to and
            follow
            these
            linking terms and conditions.
        </p>
        <h1 class="content-set-h">Removal of links from our website</h1>
        <p class="content-set-p">
            If you find any link on our Website that is offensive for any reason, you are free to contact and inform us
            at
            any
            moment. We will consider requests to remove links but we are not obligated to or so or to respond to you
            directly.
        </p>
        <p class="content-set-p">We do not ensure that the information on this website is correct, we do not warrant its
            completeness or accuracy;
            nor do
            we promise to ensure that the website remains available or that the material on the website is kept up to
            date.</p>


        <h1 class="content-set-h">Disclaimer</h1>
        <p class="content-set-p">
            Arlarse is an educational organization, as long as the website and the information and services on the
            website
            are
            provided free of charge, we will not be liable for any loss or damage of any nature.
        </p>
        <br>
        <hr style="border-top: 3px solid #F0A500; border-bottom-color: #F0A500">
        <br>
        <h1 class="content-set-h"> Privacy Policy for Arlarse</h1>
        <p class="content-set-p">
            At Arlarse, accessible from www.Arlarse.me, one of our main priorities is the privacy of our visitors. This
            Privacy
            Policy document contains types of information that is collected and recorded by Arlarse and how we use it.
        </p>

        <p class="content-set-p">
            If you have additional questions or require more information about our Privacy Policy, do not hesitate to
            contact
            us.
        </p>
        <p class="content-set-p">
            This Privacy Policy applies only to our online activities and is valid for visitors to our website with
            regards
            to
            the
            information that they shared and/or collect in Arlarse. This policy is not applicable to any information
            collected
            offline or via channels other than this website.
        </p>
        <h1 class="content-set-h">Consent</h1>
        <p class="content-set-p">
            By using our website, you hereby consent to our Privacy Policy and agree to its terms.
        </p>
        <div style="padding-left: 15px;">
            <h2 class="content-set-h" style="font-weight: normal">Information we collect</h2>
            <p class="content-set-p">
                The personal information that you are asked to provide, and the reasons why you are asked to provide it,
                will be
                made
                clear to you at the point we ask you to provide your personal information and in T & C section.
            </p>
            <p class="content-set-p">
                If you contact us directly, we may receive additional information about you such as your name, email
                address,
                phone
                number, the contents of the message and/or attachments you may send us, and any other information you
                may
                choose
                to
                provide.
            </p>
            <p class="content-set-p">
                When you register for an Account, we may ask for your contact information, including items such as name,
                company
                name,
                address, email address, and telephone number.
            </p>
            <h2 class="content-set-h" style="font-weight: normal">How we use your information</h2>
            <p class="content-set-p">We use the information we collect in various ways, including to:
            </p>
            <ul class="content-set-p">
                <li style="padding-bottom: 10px;">Provide, operate, and maintain our website.</li>
                <li style="padding-bottom: 10px;">Improve, personalize, and expand our website.</li>
                <li style="padding-bottom: 10px;">Understand and analyze how you use our website.</li>
                <li style="padding-bottom: 10px;">Develop new products, services, features, and functionality.</li>
                <li style="padding-bottom: 10px;">Communicate with you, either directly or through one of our partners,
                    including for customer service, to
                    provide
                    you
                    with updates and other information relating to the website, and for marketing and promotional
                    purposes.
                </li>
                <li style="padding-bottom: 10px;">Send you emails.</li>
                <li style="padding-bottom: 10px;">Find and prevent fraud.</li>
                <li>Log Files.</li>
            </ul>
            <p class="content-set-p">Arlarse follows a standard procedure of using log files. These files log visitors
                when
                they
                visit websites. All
                hosting
                companies do this and are a part of hosting services' analytics. The information collected by log files
                includes
                internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp,
                referring/exit
                pages, and possibly the number of clicks. These are not linked to any information that is personally
                identifiable.
                The
                purpose of the information is for analyzing trends, administering the site, tracking users' movement on
                the
                website,
                and
                gathering demographic information.
            </p>
        </div>
        <h1 class="content-set-h">Cookies and Web Beacons</h1>
        <p class="content-set-p">Like any other website, Arlarse uses 'cookies. These cookies are used to store
            information
            including visitors'
            preferences, and the pages on the website that the visitor accessed or visited. The information is used to
            optimize
            the
            users' experience by customizing our web page content based on visitors' browser type and/or other
            information.
        </p>
        <h1 class="content-set-h">Third-Party Privacy Policies</h1>
        <p class="content-set-p">Arlarse's Privacy Policy does not apply to other advertisers or websites.
        </p>
        <p class="content-set-p">You can choose to disable cookies through your individual browser options. To know more
            detailed information
            about
            cookie management with specific web browsers, it can be found at the browsers' respective websites.
        </p>
        <h1 class="content-set-h">Do Not Sell My Personal Information</h1>
        <p class="content-set-p">We do not sell anybody's data with anybody but maybe share it with our developers for
            improving our website.
        </p>
        <h1 class="content-set-h">Data Protection Rights</h1>
        <p class="content-set-p">We would like to make sure you are fully aware of all of your data protection rights.
            Every
            user is entitled to
            the
            following:
        </p>
        <ul class="content-set-p">
            <li style="padding-bottom: 10px;">
                <b>The right to access –</b> You have the right to request copies of your personal data. We may charge
                you a
                small fee for this service.
            </li>
            <li style="padding-bottom: 10px;">
                <b>The right to rectification – </b>You have the right to request that we correct any information you
                believe is
                inaccurate.
                You also have the right to request that we complete the information you believe is incomplete.
            </li>
            <li style="padding-bottom: 10px;">
                <b>The right to erasure –</b> You have the right to request that we erase your personal data, under
                certain
                conditions.
            </li>
            <li style="padding-bottom: 10px;">
                <b>The right to restrict processing – </b>You have the right to request that we restrict the processing
                of
                your
                personal data,
                under certain conditions.
            </li>
            <li style="padding-bottom: 10px;">
                <b>The right to object to processing – </b>You have the right to object to our processing of your
                personal
                data,
                under certain
                conditions.
            </li>
            <li><b>The right to data portability – </b> You have the right to request that we transfer the data that we
                have
                collected
                directly
                to you, under certain conditions.
            </li>
        </ul>
        <p class="content-set-p">If you make a request, we have one month to respond to you. If you would like to
            exercise
            any of these rights,
            please
            contact us.
        </p>
        <h1 class="content-set-h">Children's Information</h1>

        <p class="content-set-p">Another part of our priority is adding protection for children while using the
            internet. We
            encourage parents and
            guardians to observe, participate in, and/or monitor and guide their online activity.
        </p>
        <p class="content-set-p">Arlarse does not collect any information from children under the age of 16. If you
            think
            that your child provided
            this
            kind of information on our website, we strongly encourage you to contact us immediately and we will do our
            best
            efforts
            to promptly remove such information from our records.
        </p>
        <br>

    </section>
    <footer class="footer-set" style="border-top: 3px solid #F0A500;">
        <h1 class="content-set-h">Watch Anywhere, Anytime</h1>
        <p class="content-set-p">Connect with us</p>
        <div class="footer-logo-set">
            {% load static %}
            <a href="#"><img class="social-media-logo-yt" src="{% static 'Events/images/youtube.png' %}" alt="YouTube"></a>
            <a href="#"><img class="social-media-logo-twitch" src="{% static 'Events/images/twitch.png' %}"
                             alt="Twitch"></a>
            <a href="#"><img class="social-media-logo-discord" src="{% static 'Events/images/discord.png' %}"
                             alt="Discord"></a>
        </div>
        <div style="width: 100%;">
            <ul class="about-arlarse">
                <li><a class="about-arlarse-decorate" href="/help">Help</a></li>
                <li><a class="about-arlarse-decorate" href="/help">FAQ</a></li>
                <li><a class="about-arlarse-decorate" href="/privacy">Terms, Conditions, and Privacy Notice</a></li>
                <li><a class="about-arlarse-decorate" href="/help">Feedback</a></li>
                <li><a class="about-arlarse-decorate" href="/coming_soon">Cramming</a></li>
            </ul>
        </div>
        <div class="copyright">
            <p>Copyright &copy; 2021, Arlarse All Rights Reserved</p>
        </div>

    </footer>
</div>
</body>
</html>