<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    {% block extrahead %}
        <link rel="icon" href="{% static 'Events/images/tittle-img.png' %}" type="image/icon type">
        <link rel="stylesheet" type="text/css" href="{% static 'Events/css/event_page.css' %}">
    {% endblock %}
    <title>Events by Arlarse</title>
</head>
<body>
<!--<nav style="display: flex; padding: 10px 10px 10px 10px; ">
    <a href="#">Home </a>
    <a href="#">Cramming </a>
    <a href="#">Events </a>
    <a href="#" style="text-align: right;">Apply</a>
</nav>-->
<section class="inner-body">
    <div class="logo-section">
        {% load static %}
        <img class="logo-image-set" src="{% static 'Events/images/Arlarse.png' %}" alt="Arlarse">
        <h2 class="Slogan">Light Needs You</h2>
        <form action="/events/" method="post" class="mail-subscribe-outer">
            {% csrf_token %}
            <!--<input type="text" id="username" required placeholder="Enter Name"
                   oninvalid="this.setCustomValidity('Enter User Name Here')"
                   oninput="this.setCustomValidity('Hello')"/>-->
            <input class="mail-subscribe-input" type="email" name="subscriber_mail" placeholder="Enter Your Email"
                   required>
            <button class="mail-subscribe-button" name="subscribe_form" type="submit">Subscribe</button>
        </form>
        <div class="response" style="color: {{ reponse_color }}">{{ result }}</div>
    </div>

    <div class="img-section-1">
        {% load static %}
        <img class="image-set" src="{% static 'Events/images/img-1.gif' %}" alt="Arlarse">
        <div class="arrange-text">
            <h1 class="content-set-h">Lighten Your brain in the field of Knowledge</h1>
            <p class="content-set-p">Get started by today to enhance yourself in many interesting fields like
                engineering, AI, Personality development, and many more</p>
        </div>
    </div>
    <div class="img-section-2">
        {% load static %}
        <img class="image-set" src="{% static 'Events/images/img-2.gif' %}" alt="Arlarse">
        <div class="arrange-text">
            <h1 class="content-set-h">Watch Free on YouTube, Twitch and more</h1>
            <p class="content-set-p">Subscribe us on YouTube to get notification of upcoming events.</p>
        </div>
    </div>

    <div class="prizing-section">
        {% load static %}
        <div class="prize-inner">
            <div class="prize-image-set">
                <h1 class="content-set-h">Who can Apply?</h1>
                <img src="{% static 'Events/images/Who-can-apply.svg' %}" alt="Arlarse" width="58%"
                     style="padding-bottom: 10px;">
            </div>
            <ul class="price-content-set" style="text-align: left;">
                <li class="content-set-p">Anyone above and under the age of 30 and 16</li>
                <li class="content-set-p">Only the residence of India can apply now</li>
                <li class="content-set-p">Student must be enrolled in any educational organization</li>
            </ul>
        </div>
        <div class="prize-inner-center">
            <div class="prize-image-set">
                <h1 class="content-set-h">Win Exciting Prizes</h1>
                <img src="{% static 'Events/images/trophy.svg' %}" alt="Arlarse" width="60%">
            </div>
            <div style="display: flex; flex-direction: column;">
                <div>
                    <p class="content-set-p">Get a chance to win prizes</p>
                    <ul class="price-content-set" style="text-align: left;">
                        <li class="content-set-p">Mug, Stickers or Bottle</li>
                        <li class="content-set-p">T-Shirt</li>
                        <li class="content-set-p">Hudde or Jacket</li>
                        <li class="content-set-p">Special Prize</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="prize-inner">
            <div class="prize-image-set">
                <h1 class="content-set-h">How to apply?</h1>
                <img src="{% static 'Events/images/how-to-apply.svg' %}" alt="Arlarse" width="58%">
            </div>
            <ul class="price-content-set" style="text-align: left;">
                <li class="content-set-p">Fill form correctly</li>
                <li class="content-set-p">Provide a public link to introduce yourself with explaining a topic under 3
                    minutes
                </li>
                <li class="content-set-p">Join us on <a href="#">Discord</a> and hit a Event</li>
            </ul>
        </div>
    </div>
    <form class="Apply-form-out" method="post" action="/events/#ReturnApplyHere">
        {% csrf_token %}
        <h1 class="content-set-h" id="ReturnApplyHere">Apply Here</h1>
        <div class="response" style="color: {{ reponse_color }}">{{ result_applycandidate }}</div>
        <div class="Apply-form">
            <div class="personal-details">
                <span>Full Name</span>
                <input class="text" style="{{ border.full_name }}" type="text" value="{{ details.full_name }}"
                       name="full_name" maxlength="50" placeholder="Enter full name" required>

                <span>Gender</span>
                <select id="drop-down" name="gender" class="select" required>
                    <option value="{{ details.gender }}" style="display: none;">Select</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>

                <span>Email</span>
                <input class="text" style="{{ border.email }}" maxlength="40" type="email" value="{{ details.email }}"
                       name="email"
                       placeholder="Enter email id" required>

                <span>Date of Birth</span>
                <input class="date" style="{{ border.dob }}" type="date" value="{{ details.dob }}" name="dob" required>

                <span>State</span>
                <input class="text" type="text" style="{{ border.state }}" maxlength="30" value="{{ details.state }}"
                       name="state"
                       placeholder="Enter your state" required>
            </div>
            <div class="educational-details">
                <span>College Name</span>
                <input class="text" type="text" style="{{ border.college_name }}" value="{{ details.college_name }}"
                       name="college_name" placeholder="Enter your college or university" maxlength="200" required>

                <span>Degree Level</span>
                <select id="drop-down" name="degree_level" class="select" required>
                    <option value="{{ details.degree_level }}" style="display: none;">Select</option>
                    <option value="Some School">Some School</option>
                    <option value="Bachelor Degree">Bachelor Degree</option>
                    <option value="Master Degree">Master Degree</option>
                </select>

                <span>Degree Program</span>
                <input class="text" type="text" style="{{ border.degree_program }}" name="degree_program"
                       value="{{ details.degree_program }}" maxlength="50" placeholder="Enter your degree program"
                       required>

                <span>Expected Graduation Date</span>
                <input class="date" style="{{ border.graduation_date }}" type="date"
                       value="{{ details.graduation_date }}"
                       name="graduation_date" required>

                <span>Video Link</span>
                <input class="text" type="url" style="{{ border.video }}" name="video" value="{{ details.video }}"
                       placeholder="Submit public video url start with http or https" required>
            </div>
        </div>
        <button class="submit" name="applyform" type="submit">Submit</button>
    </form>
</section>
<footer class="footer-set">
    <h1 class="content-set-h">Watch Anywhere, Anytime</h1>
    <p class="content-set-p">Connect with us</p>
    <div class="footer-logo-set">
        {% load static %}
        <a href="#"><img class="social-media-logo-yt" src="{% static 'Events/images/youtube.png' %}" alt="YouTube"></a>
        <a href="#"><img class="social-media-logo-twitch" src="{% static 'Events/images/twitch.png' %}"
                         alt="Twitch"></a>
        <a href="#"><img class="social-media-logo-discord" src="{% static 'Events/images/discord.png' %}"
                         alt="Discord"></a>
    </div>
    <div style="width: 100%;">
        <ul class="about-arlarse">
            <li><a class="about-arlarse-decorate" href="">Help</a></li>
            <li><a class="about-arlarse-decorate" href="">FAQ</a></li>
            <li><a class="about-arlarse-decorate" href="/privacy">Terms, Conditions, and Privacy Notice</a></li>
            <li><a class="about-arlarse-decorate" href="">Feedback</a></li>
            <li><a class="about-arlarse-decorate" href="">Careers</a></li>
        </ul>
    </div>
    <div class="copyright">
        <p>Copyright &copy; 2021, Arlarse All Rights Reserved</p>
    </div>
</footer>
</body>
</html>
